server:
  bind_address: 0.0.0.0
  port: 8087
stream:
  default_transport: ws
  default_format: iq16
limits:
  max_concurrent_captures: 2
device:
  driver: soapy
antennas:
  sdrplay_240309F070:
    fm_broadcast: Ant B
    vhf_amateur: Ant C
    uhf_amateur: Ant A
presets:
  kexp:
    center_hz: 90300000
    sample_rate: 2000000
    offsets:
    - 0.0
    bandwidth: 200000.0
    ppm: 0.0
  kexp_rspdx:
    center_hz: 90300000
    sample_rate: 2000000
    offsets:
    - 0.0
    gain: 20
    bandwidth: 200000
    antenna: Antenna B
captures:
- preset: kexp
  device_id: 'driver=rtlsdr,label=Generic RTL2832U OEM :: 00000001,manufacturer=RTLSDRBlog,product=Blog
    V4,serial=00000001,tuner=Rafael Micro R828D'
- preset: kexp_rspdx
  device_id: driver=sdrplay,label=SDRplay Dev0 RSPdx-R2 240309F070,serial=240309F070
